/cmake-build-debug
/cmake-build-release
/.idea
.vs/
OpenCV/
Release/
Images/
Debug/
OpenCVApplication.VC.VC.opendb
OpenCVApplication.VC.db
OpenCVApplication.sln
OpenCVApplication.vcxproj
OpenCVApplication.vcxproj.filters
OpenCVApplication.vcxproj.user
ipch/
